textarea {
    resize: none;
}

.comment-content {
    padding: 10px;
}

.commitMessage {
    white-space: pre-wrap;
}

.future {

}

.current {

}

.past {

}

.navbar.logonavbar .brand {
    font-size: 42px;
    line-height: 72px;
    color: white;
}

.navbar.logonavbar .nav > li > a {
    font-size: 18px;
    padding: 10px 20px 12px;
    color: #EEEEEE;
}

.navbar.logonavbar .brand, .textInNavbar {
    padding: 10px 20px 12px;
    line-height: 72px;
}

.textInNavbar {
    font-size: 18px;
}

.navbar.logonavbar .nav > li > * {
    line-height: 72px;
    color: #DDDDDD;
}

.navbar.logonavbar .nav a {
    color: #EEEEEE;
}

.navbar.logonavbar ul.dropdown-menu a {
    color: #333;
}

.navbar.logonavbar ul.dropdown-menu a:hover {
    color: white;
}

.navbar.logonavbar .dropdown .caret {
    margin-top: 33px;
    margin-left: 6px;
}

.padding {
    margin: 19px;
}

.margin-right {
    margin: 0 19px 0 0;
}

