textarea {
    resize: none;
}

.comment-content {
    padding: 10px;
}

.underNavbar {
    padding-top: @navbarHeight;
}

.brandlogo {
    color: @navbarInverseLinkColorHover;
}

.commitMessage {
    white-space: pre-wrap;
}

.dayLabel {
    text-align: end;
    padding-right: 10px;

}

.changeset-hash {
    color: gray;
}

.pull-right {
    margin-left: 3px;
    margin-right: 3px;
}

.author {
    font-style: oblique;
}

.changeset.current-user .author {
    font-weight: bold;
}

.changeset.current-user .comment .author {
    font-weight: normal;
}

.changeset .comment.current-user .author {
    font-weight: bold;
}

.changeset .basicInfo:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.commitFooter {
    padding-top: 5px;
}

.changeset.well {
    margin-bottom: 14px;
}

.nextToGravatar {
    margin-left: 49px; /*gravatar width (40) + gravatar container's padding (9) */
}

.padding {
    margin: 19px;
}

.margin-top-small {
    margin-top: 9px;
}

.margin-bottom-small, form.margin-bottom-small, .accordion.margin-bottom-small {
    margin-bottom: 9px;
}

.center {
    margin: 0 auto;
}

.sizeOfIcon {
    width: 14px;
    height: 14px;
}

.wideButton {
    display: block;
    width: 100%;
}

.wideButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.commentsCount {
    padding-left: 0.4em;
}

#loading {
    position: fixed;
    bottom: 0px;
    right: 18px;
}

#loading-image {
    padding-right: 5px
}

.comment img {
    vertical-align: text-top;
    float: left;
}

.comment .comment-content {
    white-space: pre-wrap;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.comment .nextToGravatar {
    margin-left: 44px;
}

.comment .author {
    font-weight: normal;
}

.comment {
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.linkLike {
    color: @linkColor;
}

.linkLike:hover {
    color: @linkColorHover;
}
