textarea {
    resize: none;
}

.comment-content {
    padding: 10px;
}

.future {
    background-color: #FAFEFC;
}

.current {
    background-color: #C6CEA9;
}

.past {
    background-color: #FFC;
}

.navbar.logonavbar .brand {
    font-size: 42px;
    line-height: 72px;
    color: white;
}

.navbar.logonavbar .nav > li > a {
    padding: 10px 20px 12px;
    font-size: 18px;
    line-height: 72px;
    color: white;
}
