textarea {
    resize: none;
}

.comment-content {
    padding: 10px;
}

.underNavbar {
    padding-top: 90px
}

.commitMessage {
    white-space: pre-line;
}

.dayLabel {
    background-color: #dddddd;
    text-align: end;
    margin-bottom: 14px;
    padding-right: 10px;

}

.changeset-hash {
    color: gray;
}

.pull-right {
    margin-left: 3px;
    margin-right: 3px;
}

.changeset.current-user {
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);*/
}

.changeset.current-user .author {
    color: #0074CC;
}

.author {
    font-weight:bold;
}

.changeset.well {
    margin-bottom: 14px;
}

.nextToGravatar {
    margin-left: 69px; /*gravatar width (60) + gravatar container's padding (9) */
}

.padding {
    margin: 19px;
}

.margin-top-small {
    margin-top: 9px;
}

.margin-bottom-small, form.margin-bottom-small, .accordion.margin-bottom-small {
    margin-bottom: 9px;
}

.center {
    margin: 0 auto;
}

.sizeOfIcon {
    width: 14px;
    height: 14px;
}

.wideButton {
    display: block;
    width: 100%;
}

.wideButton:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}

.commentsCount {
    padding-left: 0.4em;
}

.navbar.logonavbar .brand {
    font-size: 42px;
    line-height: 72px;
    color: white;
}

.navbar.logonavbar .nav > li > a {
    font-size: 18px;
    padding: 10px 20px 12px;
    color: #EEEEEE;
}

.navbar.logonavbar .brand, .textInNavbar {
    padding: 10px 20px 12px;
    line-height: 72px;
}

.textInNavbar {
    font-size: 18px;
}

.navbar.logonavbar .nav > li > * {
    line-height: 72px;
    color: #DDDDDD;
}

.navbar.logonavbar .nav a {
    color: #EEEEEE;
}

.navbar.logonavbar ul.dropdown-menu a {
    color: #333;
}

.navbar.logonavbar ul.dropdown-menu a:hover {
    color: white;
}

.navbar.logonavbar .dropdown .caret {
    margin-top: 33px;
    margin-left: 6px;
}

#loading {
    position: fixed;
    bottom: 0px;
    right: 18px;
}

#loading-image {
    padding-right: 5px
}